/* :: 8.0 Best Receipe Area */

* {
  max-width: 100%;
  box-sizing: border-box;
}

body{
  background-color: #fde9bf;
  overflow-x: hidden;
}

.custom-navbar {
  background-color: #c0e794 !important;
  border-bottom: 1.5px solid #e45959 !important;
}

.bold{
  font-weight: bold;
}

.best-receipe-area {
  position: relative;
  z-index: 1;
  padding-bottom: 50px; }

.single-best-receipe-area {
  position: relative;
  z-index: 1; }
  .single-best-receipe-area img {
    border-bottom: 3px solid #40ba37; }
  .single-best-receipe-area .receipe-content {
    padding-top: 20px;
    text-align: center; }
    .single-best-receipe-area .receipe-content h5 {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 400;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .single-best-receipe-area .receipe-content h5:hover, .single-best-receipe-area .receipe-content h5:focus {
        color: #40ba37; }
    .single-best-receipe-area .receipe-content .ratings i {
      font-size: 11px;
      color: #fbb710;
      display: inline-block;
      padding: 0 1px; }
      .link-unstyled {
        text-decoration: none;
        color: inherit;
      }

/* About Us Area */
.sub-heading {
  line-height: 2;
  font-size: 18px;
  text-align: center; }

  /* Section Heading */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  text-align: center; }
  .section-heading h3 {
    font-size: 30px;
    margin-bottom: 0; }
  .section-heading.text-left {
    text-align: left !important; }
  .section-heading.white h3 {
    color: #ffffff; }


    .single-cool-fact {
      position: relative;
      text-align: center;
      z-index: 1;
      margin-bottom: 80px; }
      .single-cool-fact img {
        display: block;
        margin: 0 auto 10px; }
      .single-cool-fact h3 {
        font-size: 48px;
        margin-bottom: 10px;
        color: #40ba37;
        font-weight: 700; }
      .single-cool-fact h6 {
        font-size: 18px;
        margin-bottom: 0; }    

/* :: 18.0 Contact Area CSS */
.map-area {
  position: relative;
  z-index: 2; }
  .map-area #googleMap {
    width: 100%;
    height: 680px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .map-area #googleMap {
        height: 500px; } }
    @media only screen and (max-width: 767px) {
      .map-area #googleMap {
        height: 350px; } }

.single-contact-information {
  position: relative;
  z-index: 1; }
  .single-contact-information h6 {
    font-size: 14px;
    border-bottom: 2px solid #40ba37;
    display: inline-block;
    color: #40ba37; }

.contact-form-area .form-control {
  height: 52px;
  width: 100%;
  background-color: #f3f5f8;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
  border: none;
  border-left: 3px solid #f3f5f8;
  border-radius: 0;
  padding: 15px 30px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .contact-form-area .form-control:focus {
    border-left: 3px solid #40ba37;
    box-shadow: none; }
.contact-form-area textarea.form-control {
  height: 200px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }


  #favorite-btn  {
    color: #fde9bf; 
    transition: color 0.3s ease;
    background: none;
    border: none;
    cursor:pointer;
  }
  
  #favorite-btn.active{
    color: gold; /* Yellow when active */
  }

  /* Button */
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #ffffff;
  border: none;
  border-left: 3px solid #1c8314;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background-color: #40ba37; }
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37; }
  .delicious-btn.btn-2 {
    background-color: #1c8314;
    border-color: #40ba37; }
    .delicious-btn.btn-2.active, .delicious-btn.btn-2:hover, .delicious-btn.btn-2:focus {
      background-color: #40ba37;
      border-color: #1c8314; }
  .delicious-btn.btn-3 {
    background-color: #474747;
    border-color: #1c8314; }
    .delicious-btn.btn-3.active, .delicious-btn.btn-3:hover, .delicious-btn.btn-3:focus {
      background-color: #40ba37;
      border-color: #1c8314; }
  .delicious-btn.btn-4 {
    background-color: transparent;
    border: 3px solid #40ba37;
    line-height: 53px;
    color: #40ba37; }
    @media only screen and (max-width: 767px) {
      .delicious-btn.btn-4 {
        height: 40px;
        line-height: 33px; } }
    .delicious-btn.btn-4.active, .delicious-btn.btn-4:hover, .delicious-btn.btn-4:focus {
      line-height: 53px;
      color: #ffffff;
      background-color: #40ba37; }
      @media only screen and (max-width: 767px) {
        .delicious-btn.btn-4.active, .delicious-btn.btn-4:hover, .delicious-btn.btn-4:focus {
          height: 40px;
          line-height: 33px; } }
  @media only screen and (max-width: 767px) {
    .delicious-btn {
      height: 40px;
      line-height: 39px; } }

